.header {
  box-shadow: 0px 3px 7px 0px #a3a1a1;
  position: relative;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-right: 0.1rem solid black;
  height: 10vh;
}

.navigation button {
  min-width: 50px;
}

.sidebar_Button {
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
  background-color: unset;
  border: unset;
  pointer-events: none;
}

.title {
  align-items: center;
}

.mode {
  margin: 0 5px;
}

.mode > button {
  font-family: "Arima Madurai", cursive;
  font-weight: 900;
  width: 3rem;
  height: 3rem;
  background-color: #eeeeee;
  color: #4e5c4a;
  border: unset;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.3s;
}

.mode > button:hover {
  background-color: #2a6e18;
  color: #dadfe1;
  transition: 0.3s;
}

.mode > button:active {
  background-color: #eeeeee;
  color: #4e5c4a;
  transition: 0.3s;
}

.sidebar {
  position: absolute;
  z-index: 99;
  min-width: 50%;
  background-color: #4e5c4a;
  top: 10vh;
}

.menu > h1 {
  text-align: right;
  margin: unset;
  padding: 1rem 1rem 1rem 0;
  font-size: 3rem;
  border-bottom: 0.1rem solid black;
}

.menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu > ul > li {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 1.5rem;
  background-color: rgb(255 255 255);
  border: 1px solid #e8e8e8;
}

.menu > p {
  position: absolute;
  bottom: 0;
  right: 10px;
}
