@font-face {
  font-family: "me-quran";
  src: url("../public/Assets/font/me_quran_volt_newmet.ttf");
}

.container {
  padding: 0 1rem;
  background: linear-gradient(to top, #74ebd5, #acb6e5);
  min-height: 100vh;
}

.main {
  display: grid;
  grid-template-rows: 2fr 10fr 2fr;
  align-content: stretch;
  text-align: center;
  height: 100vh;
}

.bismillah {
  border-bottom: 1px solid black;
  display: grid;
  align-items: center;
}

.surah {
  margin: auto;
  display: grid;
}

.surahName {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ayah {
  font-family: "me-quran";
  font-weight: 200;
  font-size: 2rem;
}

.surah_description {
  border-top: 1px solid black;
  display: grid;
  align-items: center;
}
