.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bismillah {
  margin: 0.5em auto;
  line-height: 1.15;
}

.ayah > h1 {
  font-size: 2rem;
}

.ayah > h3 {
  font-size: 3rem;
}

.ayah > img {
  margin: auto;
  padding: 1em 1em;
  max-width: 1000px;
  width: 100%;
}
