/* Color Theme : #194350, #ff8882, #ffc2b4,#9dbeb9 */

@font-face {
  font-family: "me-quran";
  src: local("me-quran"), url("../public/Assets/font/me_quran_volt_newmet.ttf");
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap");

.main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 0 10px;
  row-gap: 0.5rem;
  text-align: center;
  max-width: 1100px;
  margin: auto;
  color: #2b2b2a;
}

.main > div {
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 0.75rem;
}

.ayahContainer {
  position: relative;
  padding: 4em 0;
  overflow: auto;
}

.ayahContainer > h2 {
  font-size: 3rem;
  margin: auto;
}

.translate {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.swapButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.swapButton > button {
  font-family: "Arima Madurai", cursive;
  font-weight: 900;
  width: 8rem;
  height: 3rem;
  background-color: #8bb3c4;
  color: #dadfe1;
  border: unset;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.3s;
}

.swapButton > button:hover {
  background-color: #eeeeee;
  color: #8bb3c4;
  transition: 0.3s;
}

.ayah_panel {
  flex: 1;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
}

.ayah_panel > button {
  height: 100%;
  cursor: pointer;
  background-color: #b6b6b6;
  color: #eeeeee;
  font-size: 2rem;
  width: 100%;
  padding: 1rem;
  border: unset;
  outline: none;
  transition: 0.3s;
}

.ayah_panel > button:hover {
  background-color: #eeeeee;
  color: #a2a2a2;
  transition: 0.3s;
}

.next_button {
  border-radius: 0 50px 50px 0;
  opacity: 0.8;
}

.previous_button {
  border-radius: 50px 0 0 50px;
  opacity: 0.8;
}

.ayah_description {
  display: grid;
  height: 100%;
  background-color: #eeeeee;
  color: #2b2b2a;
}

.ayah_description h3 {
  font-family: "Arima Madurai", cursive, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: large;
  font-weight: 200;
  margin: auto;
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
}

@media screen and (max-width: 767px) {
  .ayahContainer {
    position: relative;
    padding: 4em 1em 2em 1em;
    overflow: auto;
  }

  .ayahContainer > h2 {
    font-size: 2.5rem;
    margin: auto;
  }
  /* start of medium tablet styles */
}

@media screen and (max-width: 479px) {
  .ayahContainer {
    position: relative;
    padding: 4em 1em 1em 1em;
    overflow: auto;
  }

  .ayahContainer > h2 {
    font-size: 2rem;
    margin: auto;
  }
  /* start of phone styles */
}
