.navigation {
  z-index: 5;
  position: fixed;
  min-width: 25vw;
  background-color: rgb(248 246 255);
  border-right: 0.1rem solid black;
}

.sidebar_Button > button {
  position: absolute;
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
  background-color: unset;
  border: unset;
}

.sidebar {
  min-height: 100vh;
}

.menu > h1 {
  text-align: right;
  margin: unset;
  padding: 1rem 1rem 1rem 0;
  font-size: 3rem;
  border-bottom: 0.1rem solid black;
}

.menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu > ul > li {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 1.5rem;
  background-color: rgb(255 255 255);
  border: 1px solid #e8e8e8;
}

.menu > p {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.loading {
  display: grid;
  height: 100%;
}

.loading > div {
  margin: auto;
}

.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: hsl(222, 65%, 72%);
  margin-bottom: -5px;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
  content: "";
}

.bouncingLoader > div {
  margin: 0 5px;
}

.bouncingLoader > div {
  animation-delay: 0.2s;
}

.bouncingLoader:after {
  animation-delay: 0.4s;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}
